li {
    display:inline-block;
    margin-right: 1.25rem;
  
}
ul {
    background-color: black;
}
#navBar {
    display:inline-block;
    margin-right: 1.25rem;
    border: 2px solid gray;
    padding: 10px 25px;
    color: black;
    background-color: goldenrod;
    border-radius: 50px;
}

nav {
    background-color: goldenrod;
    padding: 15px 5px
}
#logo {
    height: 100
}
.float-right {
    float:right;
}